input{
    border: black 1px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

select{
    border: black 1px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

textarea{
    border: black 1px solid;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}